Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/ed/f04dcfea85370014171eedaa5accec9b
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/26/70d7f5ec85370014171eedaa5accec9b
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/30/0019a9e585370014171eedaa5accec9b
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello Git/.indexes/e4/81/73/73/history.index
*.index
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/60/0022c8ea85370014171eedaa5accec9b
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.history/e2/5038d0ea85370014171eedaa5accec9b
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello Git/.location
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello Git/.markers
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello Git/org.eclipse.egit.core/GitProjectData.properties
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/Hello Git/org.eclipse.jdt.core/state.dat
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Workspace/Workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
*.prefs
*.xmi
*.xml
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
*.txt
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Workspace/Workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Workspace/Workspace/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/9/37/refactorings.history
*.properties
*.lock
Workspace/Workspace/.metadata/.log
Workspace/Workspace/.metadata/version.ini
*.version
Workspaces/.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
Workspaces/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Workspaces/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Workspaces/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Workspaces/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Workspaces/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Workspaces/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Workspaces/.metadata/version.ini
Workspaces/.metadata/.log